@model Online_Courses_2024.Models.Course

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="text-center">Create Course</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="CourseName" class="control-label"></label>
                    <input asp-for="CourseName" class="form-control" placeholder="Enter Course Name" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="Enter Course Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" placeholder="Enter Price" type="number" step="0.01" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DurationAttribute" class="control-label"></label>
                    <input asp-for="DurationAttribute" class="form-control" placeholder="Enter Duration (e.g., 3 hours)" />
                    <span asp-validation-for="DurationAttribute" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="InstructorId">Instructor</label>
                    @if (ViewBag.Instructors != null && ViewBag.Instructors.Count > 0)
                    {
                        <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.Instructors"></select>
                    }
                    else
                    {
                        <p>No instructors available.</p>
                    }
                    <span asp-validation-for="InstructorId" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-2">
                    <input type="submit" value="Create" class="btn btn-outline-success fs-5 btn-block" />
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
